<div>
  <p>
    <strong>Name:</strong>
    <%= lp.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= lp.description %>
  </p>
  <p>
    <strong>Artist:</strong>
    <%= lp.artist.name %>
  </p>

</div>
